.beta {
  @include flex();
  position: relative;
  color: $white;
  height: 18rem;
  background: url(/src/assets/shared/mobile/bg-beta.jpg) no-repeat center;
  background-size: cover;
  h2 {
    max-width: 27.5rem;
  }
  a {
    font-weight: 800;
    margin-top: 0.938rem;
    color: $white;
    &::after {
      background: url(/src/assets/shared/desktop/arrow-white.svg);
    }
    &::before {
      background: $white;
    }
  }

  &::after {
    content: "";
    position: absolute;
    width: 8.125rem;
    height: 0.375rem;
    background: $primary-color;
    top: 0;
  }
}

@media (min-width: 768px) {
  .beta {
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background: url(/src/assets/shared/tablet/bg-beta.jpg) no-repeat center;
    background-size: cover;
    a {
      margin-top: 0;
      margin-right: 5rem;
    }
    &::after {
      left: 0;
      width: 0.375rem;
      height: 100%;
    }
  }
}

@media (min-width: 992px) {
  .beta {
    background: url(/src/assets/shared/desktop/bg-beta.jpg) no-repeat center;
    background-size: cover;
    h2 {
      max-width: 100%;
    }
  }
}
