.container {
  width: 100%;
  padding: 0 1.5rem;
}

.nav-container,
.footer-container {
  @extend .container;
}

@media (min-width: 768px) {
  .container {
    padding: 0 4.063rem;
  }
  .nav-container,
  .footer-container {
    padding: 0 3.125rem;
  }
}

@media (min-width: 992px) {
  .container {
    padding: 0 5rem;
  }
  .nav-container,
  .footer-container {
    padding: 0 9.688rem;
  }
}
