@mixin flex(
  $display: flex,
  $flow: column nowrap,
  $justify: center,
  $align: flex-start
) {
  display: $display;
  flex-flow: $flow;
  justify-content: $justify;
  align-items: $align;
}

@mixin underline($color: $black) {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -4px;
  left: 50%;
  background: $color;
  transition: all $speed ease;
}

@mixin underlineHover($width: 100%, $left: 0) {
  width: $width;
  left: $left;
}
