@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");

body {
  font-family: "DM Sans", sans-serif;
}

h1,
h2 {
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 4.16px;
}

h3 {
  font-size: 18px;
  font-weight: 700;
}

p {
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0px;
  font-weight: 400;
}

li {
  font-size: 15px;
  letter-spacing: 2px;
  font-weight: 700;
}

a {
  font-size: 12px;
  letter-spacing: 2px;
}

@media (min-width: 768px) {
  h1,
  h2 {
    font-size: 40px;
    line-height: 48px;
  }
}

// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) {
// }
