.hero {
  height: 44.563rem;
}

.hero-image {
  height: 18.375rem;
}

.hero-image-1 {
  background: url(/src/assets/home/mobile/create-and-share.jpg) no-repeat center;
  background-size: cover;
}

.hero-image-2 {
  background: url(/src/assets/home/mobile/beautiful-stories.jpg) no-repeat
    center;
  background-size: cover;
}

.hero-image-3 {
  background: url(/src/assets/home/mobile/designed-for-everyone.jpg) no-repeat
    center;
  background-size: cover;
}

.hero-desc-wrapper {
  @include flex();
  height: 26.188rem;
  p {
    opacity: 0.6;
    margin: 0.75rem 0 1.5rem 0;
  }
}

.arrow {
  position: relative;
  text-decoration: none;
  &::before {
    @include underline();
  }
  &::after {
    content: "";
    position: absolute;
    top: 0.125rem;
    width: 2.625rem;
    height: 0.875rem;
    margin-left: 1.563rem;
    transition: transform $speed ease;
  }
  &:hover::before {
    @include underlineHover();
  }
  &:hover::after {
    transform: translateX(-0.938rem);
    transition: transform $speed ease;
  }
}

.hero-desc-wrapper-1 {
  position: relative;
  background-color: $black;
  text-align: justify;
  color: $white;
  p {
    color: $gray;
  }
  .arrow {
    color: $white;
    &::before {
      background-color: $white;
    }
    &::after {
      background: url(/src/assets/shared/desktop/arrow-white.svg);
    }
  }
  &::after {
    content: "";
    position: absolute;
    width: 8.125rem;
    height: 0.375rem;
    background: $primary-color;
    top: 0;
  }
}

.hero-desc-wrapper-2 {
  .arrow {
    color: $black;
    &::after {
      background: url(/src/assets/shared/desktop/arrow.svg);
    }
  }
}

.hero-desc-wrapper-3 {
  a {
    color: $black;
    &::after {
      background: url(/src/assets/shared/desktop/arrow.svg);
    }
  }
}

.feature-card-container {
  display: grid;
  grid-row-gap: 2.5rem;
  justify-content: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .hero {
    display: grid;
    height: 40.625rem;
  }

  .hero-1,
  .hero-3 {
    grid-template-columns: 2fr 1fr;
  }

  .hero-2 {
    grid-template-columns: 1fr 2fr;
  }

  .hero-image {
    height: 100%;
  }

  .hero-image-1 {
    background: url(/src/assets/home/tablet/create-and-share.jpg) no-repeat
      center;
    background-size: cover;
    order: 2;
  }

  .hero-image-2 {
    background: url(/src/assets/home/tablet/beautiful-stories.jpg) no-repeat
      center;
    background-size: cover;
    order: 1;
  }

  .hero-image-3 {
    background: url(/src/assets/home/tablet/designed-for-everyone.jpg) no-repeat
      center;
    background-size: cover;
    order: 2;
  }

  .hero-desc-wrapper {
    height: 100%;
    p {
      margin: 1.313rem 0 3rem 0;
    }
  }

  .hero-desc-wrapper-1 {
    &::after {
      top: 28%;
      left: 0;
      width: 0.375rem;
      height: 19rem;
    }
  }

  .hero-desc-wrapper-1,
  .hero-desc-wrapper-3 {
    order: 1;
  }

  .hero-desc-wrapper-2 {
    order: 2;
  }

  .card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 992px) {
  .hero-1,
  .hero-3 {
    grid-template-columns: 1.7fr 2fr;
  }

  .hero-2 {
    grid-template-columns: 2fr 1.7fr;
  }

  .hero-image-1 {
    background: url(/src/assets/home/desktop/create-and-share.jpg) no-repeat
      center;
    background-size: cover;
  }

  .hero-image-2 {
    background: url(/src/assets/home/desktop/beautiful-stories.jpg) no-repeat
      center;
    background-size: cover;
  }

  .hero-image-3 {
    background: url(/src/assets/home/desktop/designed-for-everyone.jpg)
      no-repeat center;
    background-size: cover;
  }
  .card-container {
    grid-template-columns: repeat(4, 1fr);
  }
  .feature-card-container {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1.25rem;
  }
}

// For ipads
@media only screen and (min-device-width: 993px) and (max-device-width: 1168px) {
  .hero-desc-wrapper {
    padding: 0 45px;
  }
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .feature-card-container {
    grid-template-columns: none;
  }
}
