@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

main {
  margin-top: 72px;
}

body {
  font-family: "DM Sans", sans-serif;
}

h1,
h2 {
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 4.16px;
}

h3 {
  font-size: 18px;
  font-weight: 700;
}

p {
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0px;
  font-weight: 400;
}

li {
  font-size: 15px;
  letter-spacing: 2px;
  font-weight: 700;
}

a {
  font-size: 12px;
  letter-spacing: 2px;
}

@media (min-width: 768px) {
  h1,
  h2 {
    font-size: 40px;
    line-height: 48px;
  }
}

.container, .nav-container,
.footer-container {
  width: 100%;
  padding: 0 24px;
}

@media (min-width: 768px) {
  .container, .nav-container,
  .footer-container {
    padding: 0 65px;
  }
  .nav-container,
  .footer-container {
    padding: 0 50px;
  }
}

@media (min-width: 992px) {
  .container, .nav-container,
  .footer-container {
    padding: 0 80px;
  }
  .nav-container,
  .footer-container {
    padding: 0 155px;
  }
}

header {
  position: fixed;
  height: 72px;
  top: 0;
  width: 100%;
  -webkit-box-shadow: 0px 2px 14px -13px #000;
          box-shadow: 0px 2px 14px -13px #000;
  z-index: 99;
}

.navbar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  background-color: #fff;
}

.navbar .invite-button {
  display: none;
}

.menu-button {
  position: relative;
  cursor: pointer;
  width: 28px;
  height: 24px;
}

.menu-button .line-top, .menu-button .close .line-bottom, .close .menu-button .line-bottom, .menu-button .open .line-bottom, .open .menu-button .line-bottom,
.menu-button .line-bottom {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #000;
}

.menu-button .line-top, .menu-button .close .line-bottom, .close .menu-button .line-bottom, .menu-button .open .line-bottom, .open .menu-button .line-bottom {
  top: 27%;
}

.menu-button .line-bottom {
  bottom: 27%;
}

.nav-links-wrapper {
  display: none;
}

.nav-links-mobile-wrapper {
  position: absolute;
  left: 0;
  -webkit-transform: translateY(-220px);
          transform: translateY(-220px);
  height: 220px;
  width: 100%;
  z-index: -1;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.line {
  height: 1px;
  width: 100%;
  background-color: #dfdfdf;
}

li {
  text-transform: uppercase;
  margin: 11px 0;
  list-style: none;
}

li a {
  position: relative;
  color: inherit;
  text-decoration: none;
  font-size: 15px;
}

li a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -4px;
  left: 50%;
  background: linear-gradient(26.57deg, #ffc593 0.42%, #bc7198 43.46%, #5a77ff 83.33%);
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
}

li:hover a::after {
  width: 100%;
  left: 0;
}

.invite-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  width: 100%;
  height: 40px;
  color: #fff;
  border-radius: 3px;
  background-color: #000;
  -webkit-transition: background-color 350ms;
  transition: background-color 350ms;
}

.invite-button:hover a::after {
  width: 0px;
  left: 0;
}

.invite-button:hover {
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-transition: background-color 350ms;
  transition: background-color 350ms;
}

.close .line-top, .close .line-bottom {
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transition: -webkit-transform 350ms;
  transition: -webkit-transform 350ms;
  transition: transform 350ms;
  transition: transform 350ms, -webkit-transform 350ms;
}

.close .line-bottom {
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

.open .line-top, .open .line-bottom {
  -webkit-transform: translateY(-5px) rotateZ(45deg);
          transform: translateY(-5px) rotateZ(45deg);
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transition: -webkit-transform 350ms;
  transition: -webkit-transform 350ms;
  transition: transform 350ms;
  transition: transform 350ms, -webkit-transform 350ms;
}

.open .line-bottom {
  -webkit-transform: translateY(5px) rotateZ(-45deg);
          transform: translateY(5px) rotateZ(-45deg);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

.translate-down {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-transition: -webkit-transform 350ms;
  transition: -webkit-transform 350ms;
  transition: transform 350ms;
  transition: transform 350ms, -webkit-transform 350ms;
}

.translate-up {
  -webkit-transition: -webkit-transform 350ms;
  transition: -webkit-transform 350ms;
  transition: transform 350ms;
  transition: transform 350ms, -webkit-transform 350ms;
}

@media (min-width: 768px) {
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar .invite-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 158px;
    min-width: 158px;
  }
  .nav-links-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  li {
    margin: 0 11px;
  }
  li a {
    font-size: 13px;
  }
  .menu-button,
  .nav-links-mobile-wrapper {
    display: none;
  }
}

.hero {
  height: 713px;
}

.hero-image {
  height: 294px;
}

.hero-image-1 {
  background: url(/src/assets/home/mobile/create-and-share.jpg) no-repeat center;
  background-size: cover;
}

.hero-image-2 {
  background: url(/src/assets/home/mobile/beautiful-stories.jpg) no-repeat center;
  background-size: cover;
}

.hero-image-3 {
  background: url(/src/assets/home/mobile/designed-for-everyone.jpg) no-repeat center;
  background-size: cover;
}

.hero-desc-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 419px;
}

.hero-desc-wrapper p {
  opacity: 0.6;
  margin: 12px 0 24px 0;
}

.arrow {
  position: relative;
  text-decoration: none;
}

.arrow::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -4px;
  left: 50%;
  background: #000;
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
}

.arrow::after {
  content: "";
  position: absolute;
  top: 2px;
  width: 42px;
  height: 14px;
  margin-left: 25px;
  -webkit-transition: -webkit-transform 350ms ease;
  transition: -webkit-transform 350ms ease;
  transition: transform 350ms ease;
  transition: transform 350ms ease, -webkit-transform 350ms ease;
}

.arrow:hover::before {
  width: 100%;
  left: 0;
}

.arrow:hover::after {
  -webkit-transform: translateX(-15px);
          transform: translateX(-15px);
  -webkit-transition: -webkit-transform 350ms ease;
  transition: -webkit-transform 350ms ease;
  transition: transform 350ms ease;
  transition: transform 350ms ease, -webkit-transform 350ms ease;
}

.hero-desc-wrapper-1 {
  position: relative;
  background-color: #000;
  text-align: justify;
  color: #fff;
}

.hero-desc-wrapper-1 p {
  color: #dfdfdf;
}

.hero-desc-wrapper-1 .arrow {
  color: #fff;
}

.hero-desc-wrapper-1 .arrow::before {
  background-color: #fff;
}

.hero-desc-wrapper-1 .arrow::after {
  background: url(/src/assets/shared/desktop/arrow-white.svg);
}

.hero-desc-wrapper-1::after {
  content: "";
  position: absolute;
  width: 130px;
  height: 6px;
  background: linear-gradient(26.57deg, #ffc593 0.42%, #bc7198 43.46%, #5a77ff 83.33%);
  top: 0;
}

.hero-desc-wrapper-2 .arrow {
  color: #000;
}

.hero-desc-wrapper-2 .arrow::after {
  background: url(/src/assets/shared/desktop/arrow.svg);
}

.hero-desc-wrapper-3 a {
  color: #000;
}

.hero-desc-wrapper-3 a::after {
  background: url(/src/assets/shared/desktop/arrow.svg);
}

.home-feature-card-container {
  display: -ms-grid;
  display: grid;
  grid-row-gap: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 80px;
  padding-bottom: 80px;
}

@media (min-width: 768px) {
  .hero {
    display: -ms-grid;
    display: grid;
    height: 650px;
  }
  .hero-1,
  .hero-3 {
    -ms-grid-columns: 2fr 1fr;
        grid-template-columns: 2fr 1fr;
  }
  .hero-2 {
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
  }
  .hero-image {
    height: 100%;
  }
  .hero-image-1 {
    background: url(/src/assets/home/tablet/create-and-share.jpg) no-repeat center;
    background-size: cover;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .hero-image-2 {
    background: url(/src/assets/home/tablet/beautiful-stories.jpg) no-repeat center;
    background-size: cover;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .hero-image-3 {
    background: url(/src/assets/home/tablet/designed-for-everyone.jpg) no-repeat center;
    background-size: cover;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .hero-desc-wrapper {
    height: 100%;
  }
  .hero-desc-wrapper p {
    margin: 21px 0 48px 0;
  }
  .hero-desc-wrapper-1::after {
    top: 28%;
    left: 0;
    width: 6px;
    height: 304px;
  }
  .hero-desc-wrapper-1,
  .hero-desc-wrapper-3 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .hero-desc-wrapper-2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .home-card-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 992px) {
  .hero-1,
  .hero-3 {
    -ms-grid-columns: 1.7fr 2fr;
        grid-template-columns: 1.7fr 2fr;
  }
  .hero-2 {
    -ms-grid-columns: 2fr 1.7fr;
        grid-template-columns: 2fr 1.7fr;
  }
  .hero-image-1 {
    background: url(/src/assets/home/desktop/create-and-share.jpg) no-repeat center;
    background-size: cover;
  }
  .hero-image-2 {
    background: url(/src/assets/home/desktop/beautiful-stories.jpg) no-repeat center;
    background-size: cover;
  }
  .hero-image-3 {
    background: url(/src/assets/home/desktop/designed-for-everyone.jpg) no-repeat center;
    background-size: cover;
  }
  .home-card-container {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  .home-feature-card-container {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
  }
}

@media only screen and (min-device-width: 993px) and (max-device-width: 1168px) {
  .hero-desc-wrapper {
    padding: 0 45px;
  }
  .home-card-container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .home-feature-card-container {
    -ms-grid-columns: none;
        grid-template-columns: none;
  }
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  cursor: pointer;
  color: #fff;
  width: 100%;
  height: 375px;
  -webkit-transition: all 350ms;
  transition: all 350ms;
  text-shadow: 1px 1px 5px #000;
}

.card .card-date {
  margin: 0 0 2px 0;
}

.card p {
  font-size: 13px;
  margin: 1px 0 12px 0;
}

.card::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -4px;
  left: 50%;
  background: linear-gradient(26.57deg, #ffc593 0.42%, #bc7198 43.46%, #5a77ff 83.33%);
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
  height: 6px;
  bottom: 0;
  left: 0;
}

.card:hover {
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
  -webkit-transition: all 350ms;
  transition: all 350ms;
}

.card:hover::after {
  width: 100%;
}

.desc-wrapper {
  max-width: 77%;
  width: 100%;
  margin: 0 auto 30px auto;
}

.desc-wrapper .card-button-wrapper {
  position: relative;
  margin-top: 10px;
}

.desc-wrapper .card-button-wrapper::after {
  content: "";
  top: 2px;
  width: 42px;
  height: 14px;
  position: absolute;
  right: 0;
  background: url(/src/assets/shared/desktop/arrow-white.svg);
}

.desc-wrapper .card-button-wrapper:hover::after {
  -webkit-transform: translateX(-15px);
          transform: translateX(-15px);
  -webkit-transition: -webkit-transform 350ms ease;
  transition: -webkit-transform 350ms ease;
  transition: transform 350ms ease;
  transition: transform 350ms ease, -webkit-transform 350ms ease;
}

.desc-wrapper .line {
  background-color: rgba(255, 255, 255, 0.7);
}

.desc-wrapper .arrow {
  color: #fff;
}

.desc-wrapper .arrow::before {
  background: #fff;
}

.home-card-1 {
  background: url(/src/assets/stories/mobile/mountains.jpg) no-repeat center;
  background-size: cover;
}

.home-card-2 {
  background: url(/src/assets/stories/mobile/cityscapes.jpg) no-repeat center;
  background-size: cover;
}

.home-card-3 {
  background: url(/src/assets/stories/mobile/18-days-voyage.jpg) no-repeat center;
  background-size: cover;
}

.home-card-4 {
  background: url(/src/assets/stories/mobile/architecturals.jpg) no-repeat center;
  background-size: cover;
}

@media (min-width: 768px) {
  .card {
    width: 100%;
    height: 500px;
  }
  .home-card-1 {
    background: url(/src/assets/stories/desktop/mountains.jpg) no-repeat center;
    background-size: cover;
  }
  .home-card-2 {
    background: url(/src/assets/stories/desktop/cityscapes.jpg) no-repeat center;
    background-size: cover;
  }
  .home-card-3 {
    background: url(/src/assets/stories/desktop/18-days-voyage.jpg) no-repeat center;
    background-size: cover;
  }
  .home-card-4 {
    background: url(/src/assets/stories/desktop/architecturals.jpg) no-repeat center;
    background-size: cover;
  }
}

.feature-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 457px;
  height: 235px;
  text-align: center;
}

.feature-card h3 {
  margin: 40px 0 20px 0;
}

.feature-card p {
  opacity: 0.6;
}

@media (min-width: 992px) {
  .feature-card {
    max-width: 345px;
  }
}

.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #000;
  height: 539px;
  padding: 40px;
  color: #fff;
  text-align: center;
}

.main-footer a {
  color: inherit;
  font-size: 12px;
}

.main-footer .footer-logo {
  margin: auto auto 0 auto;
}

.main-footer .arrow {
  margin: 0 auto 30px auto;
  padding-right: 60px;
}

.main-footer .arrow::before {
  background: none;
}

.main-footer .arrow::after {
  background: url(/src/assets/shared/desktop/arrow-white.svg);
  margin-right: 25px;
}

.main-footer p {
  margin: 0 auto auto auto;
  opacity: 0.6;
}

.social-links-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px auto 40px auto;
  width: 170px;
  height: 21px;
}

.social-icon {
  display: inline-block;
  margin: auto auto 0 auto;
  width: 21px;
  height: 21px;
  cursor: pointer;
}

.social-icon-facebook {
  background: url(/src/assets/shared/desktop/facebook-white.svg) no-repeat center;
  background-size: cover;
  -webkit-transition: background 350ms;
  transition: background 350ms;
}

.social-icon-facebook:hover {
  background: url(/src/assets/shared/desktop/facebook-color.svg) no-repeat center;
  -webkit-transition: background 350ms;
  transition: background 350ms;
}

.social-icon-youtube {
  background: url(/src/assets/shared/desktop/youtube-white.svg) no-repeat center;
  -webkit-transition: background 350ms;
  transition: background 350ms;
}

.social-icon-youtube:hover {
  background: url(/src/assets/shared/desktop/youtube-color.svg) no-repeat center;
  background-size: cover;
  -webkit-transition: background 350ms;
  transition: background 350ms;
}

.social-icon-twitter {
  background: url(/src/assets/shared/desktop/twitter-white.svg) no-repeat center;
  background-size: cover;
  -webkit-transition: background 350ms;
  transition: background 350ms;
}

.social-icon-twitter:hover {
  background: url(/src/assets/shared/desktop/twitter-color.svg) no-repeat center;
  background-size: cover;
  -webkit-transition: background 350ms;
  transition: background 350ms;
}

.social-icon-pinterest {
  background: url(/src/assets/shared/desktop/pinterest-white.svg) no-repeat center;
  background-size: cover;
  -webkit-transition: background 350ms;
  transition: background 350ms;
}

.social-icon-pinterest:hover {
  background: url(/src/assets/shared/desktop/pinterest-color.svg) no-repeat center;
  background-size: cover;
  -webkit-transition: background 350ms;
  transition: background 350ms;
}

.social-icon-instagram {
  background: url(/src/assets/shared/desktop/insta-white.svg) no-repeat center;
  background-size: cover;
  -webkit-transition: background 350ms;
  transition: background 350ms;
}

.social-icon-instagram:hover {
  background: url(/src/assets/shared/desktop/insta-color.svg) no-repeat center;
  background-size: cover;
  -webkit-transition: background 350ms;
  transition: background 350ms;
}

.footer-links-wrapper {
  margin: 0 auto auto auto;
}

@media (min-width: 768px) {
  .main-footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
    height: 284px;
  }
  .main-footer .footer-logo {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / span 1;
    margin: 0;
  }
  .main-footer .arrow {
    text-align: right;
    margin: 0 67px 0 0;
    padding: 0;
    -ms-grid-column: 4;
    -ms-grid-column-span: 2;
    grid-column: 4 / span 2;
  }
  .main-footer p {
    text-align: right;
    margin: 0;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / span 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 3;
    grid-column: 3 / span 3;
  }
  .social-links-wrapper {
    margin: 0;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / span 1;
  }
  .social-icon {
    margin-left: 0;
  }
  .footer-links-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 0;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / span 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
  }
  .footer-links-wrapper li {
    margin-left: 0;
  }
}

@media (min-width: 992px) {
  .main-footer {
    padding: 40px 155px;
    height: 250px;
  }
  .footer-links-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-left: 52px;
    padding: 10px 0;
    height: 100%;
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    grid-row: 1 / span 3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / span 1;
  }
}

@media only screen and (min-device-width: 993px) and (max-device-width: 1168px) {
  .footer-links-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 0;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / span 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
  }
  .footer-links-wrapper li {
    margin-left: 0;
  }
}
/*# sourceMappingURL=App.css.map */