@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

main {
  margin-top: 4.5rem;
}

@media (min-width: 1320px) {
  html {
    font-size: 18px;
  }
}

@media (min-width: 1540px) {
  html {
    font-size: 20px;
  }
}

@media (min-width: 1540px) {
  html {
    font-size: 22px;
  }
}

body {
  font-family: "DM Sans", sans-serif;
}

h1,
h2 {
  font-size: 2rem;
  line-height: 2.5rem;
  letter-spacing: 0.26rem;
}

h3 {
  font-size: 1.125rem;
  font-weight: 700;
}

p {
  font-size: 0.938rem;
  line-height: 1.563rem;
  letter-spacing: 0rem;
  font-weight: 400;
}

li {
  font-size: 0.938rem;
  letter-spacing: 0.125rem;
  font-weight: 700;
}

a, .card-hero-desc-wrapper p:first-child {
  font-size: 0.75rem;
  letter-spacing: 0.125rem;
}

@media (min-width: 768px) {
  h1,
  h2 {
    font-size: 2.5rem;
    line-height: 3rem;
  }
}

.container, .nav-container,
.footer-container {
  width: 100%;
  padding: 0 1.5rem;
}

@media (min-width: 768px) {
  .container, .nav-container,
  .footer-container {
    padding: 0 4.063rem;
  }
  .nav-container,
  .footer-container {
    padding: 0 3.125rem;
  }
}

@media (min-width: 992px) {
  .container, .nav-container,
  .footer-container {
    padding: 0 5rem;
  }
  .nav-container,
  .footer-container {
    padding: 0 9.688rem;
  }
}

header {
  position: fixed;
  height: 4.5rem;
  top: 0;
  width: 100%;
  -webkit-box-shadow: 0px 0.125rem 0.875rem -0.813rem #000;
          box-shadow: 0px 0.125rem 0.875rem -0.813rem #000;
  z-index: 99;
}

.navbar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  background-color: #fff;
}

.navbar .invite-button, .navbar .pricing-card .pick-plan-button, .pricing-card .navbar .pick-plan-button {
  display: none;
}

.menu-button {
  position: relative;
  cursor: pointer;
  width: 1.75rem;
  height: 1.5rem;
}

.menu-button .line-top, .menu-button .close .line-bottom, .close .menu-button .line-bottom, .menu-button .open .line-bottom, .open .menu-button .line-bottom,
.menu-button .line-bottom {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #000;
}

.menu-button .line-top, .menu-button .close .line-bottom, .close .menu-button .line-bottom, .menu-button .open .line-bottom, .open .menu-button .line-bottom {
  top: 27%;
}

.menu-button .line-bottom {
  bottom: 27%;
}

.nav-links-wrapper {
  display: none;
}

.nav-links-mobile-wrapper {
  position: absolute;
  left: 0;
  -webkit-transform: translateY(-220px);
          transform: translateY(-220px);
  height: 13.75rem;
  width: 100%;
  z-index: -1;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.line {
  height: 1px;
  width: 100%;
  background-color: #dfdfdf;
}

li {
  text-transform: uppercase;
  margin: 0.688rem 0;
  list-style: none;
}

li a, li .card-hero-desc-wrapper p:first-child, .card-hero-desc-wrapper li p:first-child {
  position: relative;
  color: inherit;
  text-decoration: none;
  font-size: 0.938rem;
}

li a::after, li .card-hero-desc-wrapper p:first-child::after, .card-hero-desc-wrapper li p:first-child::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -4px;
  left: 50%;
  background: linear-gradient(26.57deg, #ffc593 0.42%, #bc7198 43.46%, #5a77ff 83.33%);
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
}

li:hover a::after, li:hover .card-hero-desc-wrapper p:first-child::after, .card-hero-desc-wrapper li:hover p:first-child::after {
  width: 100%;
  left: 0;
}

.invite-button, .pricing-card .pick-plan-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  width: 100%;
  height: 2.5rem;
  color: #fff;
  border-radius: 0.188rem;
  background-color: #000;
  -webkit-transition: background-color 350ms;
  transition: background-color 350ms;
}

.invite-button:hover a::after, .pricing-card .pick-plan-button:hover a::after, .invite-button:hover .card-hero-desc-wrapper p:first-child::after, .card-hero-desc-wrapper .invite-button:hover p:first-child::after, .pricing-card .pick-plan-button:hover .card-hero-desc-wrapper p:first-child::after, .card-hero-desc-wrapper .pricing-card .pick-plan-button:hover p:first-child::after {
  width: 0px;
  left: 0;
}

.invite-button:hover, .pricing-card .pick-plan-button:hover {
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-transition: background-color 350ms;
  transition: background-color 350ms;
}

.close .line-top, .close .line-bottom {
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transition: -webkit-transform 350ms;
  transition: -webkit-transform 350ms;
  transition: transform 350ms;
  transition: transform 350ms, -webkit-transform 350ms;
}

.close .line-bottom {
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

.open .line-top, .open .line-bottom {
  -webkit-transform: translateY(-0.313rem) rotateZ(45deg);
          transform: translateY(-0.313rem) rotateZ(45deg);
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transition: -webkit-transform 350ms;
  transition: -webkit-transform 350ms;
  transition: transform 350ms;
  transition: transform 350ms, -webkit-transform 350ms;
}

.open .line-bottom {
  -webkit-transform: translateY(0.313rem) rotateZ(-45deg);
          transform: translateY(0.313rem) rotateZ(-45deg);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

.translate-down {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-transition: -webkit-transform 350ms;
  transition: -webkit-transform 350ms;
  transition: transform 350ms;
  transition: transform 350ms, -webkit-transform 350ms;
}

.translate-up {
  -webkit-transition: -webkit-transform 350ms;
  transition: -webkit-transform 350ms;
  transition: transform 350ms;
  transition: transform 350ms, -webkit-transform 350ms;
}

@media (min-width: 768px) {
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar .invite-button, .navbar .pricing-card .pick-plan-button, .pricing-card .navbar .pick-plan-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 9.875rem;
    min-width: 9.875rem;
  }
  .nav-links-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  li {
    margin: 0 0.688rem;
  }
  li a, li .card-hero-desc-wrapper p:first-child, .card-hero-desc-wrapper li p:first-child {
    font-size: 0.813rem;
  }
  .menu-button,
  .nav-links-mobile-wrapper {
    display: none;
  }
}

.hero {
  height: 44.563rem;
}

.hero-image {
  height: 18.375rem;
}

.hero-image-1 {
  background: url(/src/assets/home/mobile/create-and-share.jpg) no-repeat center;
  background-size: cover;
}

.hero-image-2 {
  background: url(/src/assets/home/mobile/beautiful-stories.jpg) no-repeat center;
  background-size: cover;
}

.hero-image-3 {
  background: url(/src/assets/home/mobile/designed-for-everyone.jpg) no-repeat center;
  background-size: cover;
}

.hero-desc-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 26.188rem;
}

.hero-desc-wrapper p {
  opacity: 0.6;
  margin: 0.75rem 0 1.5rem 0;
}

.arrow {
  position: relative;
  text-decoration: none;
}

.arrow::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -4px;
  left: 50%;
  background: #000;
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
}

.arrow::after {
  content: "";
  position: absolute;
  top: 0.125rem;
  width: 2.625rem;
  height: 0.875rem;
  margin-left: 1.563rem;
  -webkit-transition: -webkit-transform 350ms ease;
  transition: -webkit-transform 350ms ease;
  transition: transform 350ms ease;
  transition: transform 350ms ease, -webkit-transform 350ms ease;
}

.arrow:hover::before {
  width: 100%;
  left: 0;
}

.arrow:hover::after {
  -webkit-transform: translateX(-0.938rem);
          transform: translateX(-0.938rem);
  -webkit-transition: -webkit-transform 350ms ease;
  transition: -webkit-transform 350ms ease;
  transition: transform 350ms ease;
  transition: transform 350ms ease, -webkit-transform 350ms ease;
}

.hero-desc-wrapper-1 {
  position: relative;
  background-color: #000;
  text-align: justify;
  color: #fff;
}

.hero-desc-wrapper-1 p {
  color: #dfdfdf;
}

.hero-desc-wrapper-1 .arrow {
  color: #fff;
}

.hero-desc-wrapper-1 .arrow::before {
  background-color: #fff;
}

.hero-desc-wrapper-1 .arrow::after {
  background: url(/src/assets/shared/desktop/arrow-white.svg);
}

.hero-desc-wrapper-1::after {
  content: "";
  position: absolute;
  width: 8.125rem;
  height: 0.375rem;
  background: linear-gradient(26.57deg, #ffc593 0.42%, #bc7198 43.46%, #5a77ff 83.33%);
  top: 0;
}

.hero-desc-wrapper-2 .arrow {
  color: #000;
}

.hero-desc-wrapper-2 .arrow::after {
  background: url(/src/assets/shared/desktop/arrow.svg);
}

.hero-desc-wrapper-3 a, .hero-desc-wrapper-3 .card-hero-desc-wrapper p:first-child, .card-hero-desc-wrapper .hero-desc-wrapper-3 p:first-child {
  color: #000;
}

.hero-desc-wrapper-3 a::after, .hero-desc-wrapper-3 .card-hero-desc-wrapper p:first-child::after, .card-hero-desc-wrapper .hero-desc-wrapper-3 p:first-child::after {
  background: url(/src/assets/shared/desktop/arrow.svg);
}

.feature-card-container {
  display: -ms-grid;
  display: grid;
  grid-row-gap: 2.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

@media (min-width: 768px) {
  .hero {
    display: -ms-grid;
    display: grid;
    height: 40.625rem;
  }
  .hero-1,
  .hero-3 {
    -ms-grid-columns: 2fr 1fr;
        grid-template-columns: 2fr 1fr;
  }
  .hero-2 {
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
  }
  .hero-image {
    height: 100%;
  }
  .hero-image-1 {
    background: url(/src/assets/home/tablet/create-and-share.jpg) no-repeat center;
    background-size: cover;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .hero-image-2 {
    background: url(/src/assets/home/tablet/beautiful-stories.jpg) no-repeat center;
    background-size: cover;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .hero-image-3 {
    background: url(/src/assets/home/tablet/designed-for-everyone.jpg) no-repeat center;
    background-size: cover;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .hero-desc-wrapper {
    height: 100%;
  }
  .hero-desc-wrapper p {
    margin: 1.313rem 0 3rem 0;
  }
  .hero-desc-wrapper-1::after {
    top: 28%;
    left: 0;
    width: 0.375rem;
    height: 19rem;
  }
  .hero-desc-wrapper-1,
  .hero-desc-wrapper-3 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .hero-desc-wrapper-2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .card-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 992px) {
  .hero-1,
  .hero-3 {
    -ms-grid-columns: 1.7fr 2fr;
        grid-template-columns: 1.7fr 2fr;
  }
  .hero-2 {
    -ms-grid-columns: 2fr 1.7fr;
        grid-template-columns: 2fr 1.7fr;
  }
  .hero-image-1 {
    background: url(/src/assets/home/desktop/create-and-share.jpg) no-repeat center;
    background-size: cover;
  }
  .hero-image-2 {
    background: url(/src/assets/home/desktop/beautiful-stories.jpg) no-repeat center;
    background-size: cover;
  }
  .hero-image-3 {
    background: url(/src/assets/home/desktop/designed-for-everyone.jpg) no-repeat center;
    background-size: cover;
  }
  .card-container {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  .feature-card-container {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1.25rem;
  }
}

@media only screen and (min-device-width: 993px) and (max-device-width: 1168px) {
  .hero-desc-wrapper {
    padding: 0 45px;
  }
  .card-container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .feature-card-container {
    -ms-grid-columns: none;
        grid-template-columns: none;
  }
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  cursor: pointer;
  color: #fff;
  width: 100%;
  height: 23.438rem;
  -webkit-transition: all 350ms;
  transition: all 350ms;
  text-shadow: 0.063rem 0.063rem 0.313rem #000;
}

.card .card-date {
  margin: 0 0 0.125rem 0;
}

.card p {
  font-size: 0.813rem;
  margin: 0.063rem 0 0.75rem 0;
}

.card::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -4px;
  left: 50%;
  background: linear-gradient(26.57deg, #ffc593 0.42%, #bc7198 43.46%, #5a77ff 83.33%);
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
  height: 0.375rem;
  bottom: 0;
  left: 0;
}

.card:hover {
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
  -webkit-transition: all 350ms;
  transition: all 350ms;
}

.card:hover::after {
  width: 100%;
}

.desc-wrapper {
  max-width: 77%;
  width: 100%;
  margin: 0 auto 1.875rem auto;
}

.desc-wrapper .card-button-wrapper {
  position: relative;
  margin-top: 0.625rem;
}

.desc-wrapper .card-button-wrapper::after {
  content: "";
  top: 0.125rem;
  width: 2.625rem;
  height: 0.875rem;
  position: absolute;
  right: 0;
  background: url(/src/assets/shared/desktop/arrow-white.svg);
}

.desc-wrapper .card-button-wrapper:hover::after {
  -webkit-transform: translateX(-0.938rem);
          transform: translateX(-0.938rem);
  -webkit-transition: -webkit-transform 350ms ease;
  transition: -webkit-transform 350ms ease;
  transition: transform 350ms ease;
  transition: transform 350ms ease, -webkit-transform 350ms ease;
}

.desc-wrapper .line {
  background-color: rgba(255, 255, 255, 0.7);
}

.desc-wrapper .arrow {
  color: #fff;
}

.desc-wrapper .arrow::before {
  background: #fff;
}

.card-1 {
  background: url(/src/assets/stories/mobile/mountains.jpg) no-repeat center;
  background-size: cover;
}

.card-2 {
  background: url(/src/assets/stories/mobile/cityscapes.jpg) no-repeat center;
  background-size: cover;
}

.card-3 {
  background: url(/src/assets/stories/mobile/18-days-voyage.jpg) no-repeat center;
  background-size: cover;
}

.card-4 {
  background: url(/src/assets/stories/mobile/architecturals.jpg) no-repeat center;
  background-size: cover;
}

.card-5 {
  background: url(/src/assets/stories/mobile/world-tour.jpg) no-repeat center;
  background-size: cover;
}

.card-6 {
  background: url(/src/assets/stories/mobile/unforeseen-corners.jpg) no-repeat center;
  background-size: cover;
}

.card-7 {
  background: url(/src/assets/stories/mobile/king-on-africa.jpg) no-repeat center;
  background-size: cover;
}

.card-8 {
  background: url(/src/assets/stories/mobile/trip-to-nowhere.jpg) no-repeat center;
  background-size: cover;
}

.card-9 {
  background: url(/src/assets/stories/mobile/rage-of-the-sea.jpg) no-repeat center;
  background-size: cover;
}

.card-10 {
  background: url(/src/assets/stories/mobile/running-free.jpg) no-repeat center;
  background-size: cover;
}

.card-11 {
  background: url(/src/assets/stories/mobile/behind-the-waves.jpg) no-repeat center;
  background-size: cover;
}

.card-12 {
  background: url(/src/assets/stories/mobile/calm-waters.jpg) no-repeat center;
  background-size: cover;
}

.card-13 {
  background: url(/src/assets/stories/mobile/milky-way.jpg) no-repeat center;
  background-size: cover;
}

.card-14 {
  background: url(/src/assets/stories/mobile/dark-forest.jpg) no-repeat center;
  background-size: cover;
}

.card-15 {
  background: url(/src/assets/stories/mobile/somwarpet.jpg) no-repeat center;
  background-size: cover;
}

.card-16 {
  background: url(/src/assets/stories/mobile/land-of-dreams.jpg) no-repeat center;
  background-size: cover;
}

@media (min-width: 768px) {
  .card {
    width: 100%;
    height: 31.25rem;
  }
  .card-1 {
    background: url(/src/assets/stories/desktop/mountains.jpg) no-repeat center;
    background-size: cover;
  }
  .card-2 {
    background: url(/src/assets/stories/desktop/cityscapes.jpg) no-repeat center;
    background-size: cover;
  }
  .card-3 {
    background: url(/src/assets/stories/desktop/18-days-voyage.jpg) no-repeat center;
    background-size: cover;
  }
  .card-4 {
    background: url(/src/assets/stories/desktop/architecturals.jpg) no-repeat center;
    background-size: cover;
  }
  .card-5 {
    background: url(/src/assets/stories/desktop/world-tour.jpg) no-repeat center;
    background-size: cover;
  }
  .card-6 {
    background: url(/src/assets/stories/desktop/unforeseen-corners.jpg) no-repeat center;
    background-size: cover;
  }
  .card-7 {
    background: url(/src/assets/stories/desktop/king-on-africa.jpg) no-repeat center;
    background-size: cover;
  }
  .card-8 {
    background: url(/src/assets/stories/desktop/trip-to-nowhere.jpg) no-repeat center;
    background-size: cover;
  }
  .card-9 {
    background: url(/src/assets/stories/desktop/rage-of-the-sea.jpg) no-repeat center;
    background-size: cover;
  }
  .card-10 {
    background: url(/src/assets/stories/desktop/running-free.jpg) no-repeat center;
    background-size: cover;
  }
  .card-11 {
    background: url(/src/assets/stories/desktop/behind-the-waves.jpg) no-repeat center;
    background-size: cover;
  }
  .card-12 {
    background: url(/src/assets/stories/desktop/calm-waters.jpg) no-repeat center;
    background-size: cover;
  }
  .card-13 {
    background: url(/src/assets/stories/desktop/milky-way.jpg) no-repeat center;
    background-size: cover;
  }
  .card-14 {
    background: url(/src/assets/stories/desktop/dark-forest.jpg) no-repeat center;
    background-size: cover;
  }
  .card-15 {
    background: url(/src/assets/stories/desktop/somwarpet.jpg) no-repeat center;
    background-size: cover;
  }
  .card-16 {
    background: url(/src/assets/stories/desktop/land-of-dreams.jpg) no-repeat center;
    background-size: cover;
  }
}

.feature-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 28.563rem;
  height: 14.688rem;
  text-align: center;
}

.feature-card h3 {
  margin: 2.5rem 0 1.25rem 0;
}

.feature-card p {
  opacity: 0.6;
}

@media (min-width: 992px) {
  .feature-card {
    max-width: 21.563rem;
  }
}

.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #000;
  height: 33.688rem;
  padding: 2.5rem;
  color: #fff;
  text-align: center;
}

.main-footer a, .main-footer .card-hero-desc-wrapper p:first-child, .card-hero-desc-wrapper .main-footer p:first-child {
  color: inherit;
  font-size: 0.75rem;
}

.main-footer .footer-logo {
  margin: auto auto 0 auto;
}

.main-footer .arrow {
  margin: 0 auto 1.875rem auto;
  padding-right: 3.75rem;
}

.main-footer .arrow::before {
  background: none;
}

.main-footer .arrow::after {
  background: url(/src/assets/shared/desktop/arrow-white.svg);
  margin-right: 1.563rem;
}

.main-footer p {
  margin: 0 auto auto auto;
  opacity: 0.6;
}

.social-links-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1.875rem auto 2.5rem auto;
  width: 10.625rem;
  height: 1.313rem;
}

.social-icon {
  display: inline-block;
  margin: auto auto 0 auto;
  width: 1.313rem;
  height: 1.313rem;
  cursor: pointer;
}

.social-icon-facebook {
  background: url(/src/assets/shared/desktop/facebook-white.svg) no-repeat center;
  background-size: cover;
  -webkit-transition: background 350ms;
  transition: background 350ms;
}

.social-icon-facebook:hover {
  background: url(/src/assets/shared/desktop/facebook-color.svg) no-repeat center;
  -webkit-transition: background 350ms;
  transition: background 350ms;
}

.social-icon-youtube {
  background: url(/src/assets/shared/desktop/youtube-white.svg) no-repeat center;
  -webkit-transition: background 350ms;
  transition: background 350ms;
}

.social-icon-youtube:hover {
  background: url(/src/assets/shared/desktop/youtube-color.svg) no-repeat center;
  background-size: cover;
  -webkit-transition: background 350ms;
  transition: background 350ms;
}

.social-icon-twitter {
  background: url(/src/assets/shared/desktop/twitter-white.svg) no-repeat center;
  background-size: cover;
  -webkit-transition: background 350ms;
  transition: background 350ms;
}

.social-icon-twitter:hover {
  background: url(/src/assets/shared/desktop/twitter-color.svg) no-repeat center;
  background-size: cover;
  -webkit-transition: background 350ms;
  transition: background 350ms;
}

.social-icon-pinterest {
  background: url(/src/assets/shared/desktop/pinterest-white.svg) no-repeat center;
  background-size: cover;
  -webkit-transition: background 350ms;
  transition: background 350ms;
}

.social-icon-pinterest:hover {
  background: url(/src/assets/shared/desktop/pinterest-color.svg) no-repeat center;
  background-size: cover;
  -webkit-transition: background 350ms;
  transition: background 350ms;
}

.social-icon-instagram {
  background: url(/src/assets/shared/desktop/insta-white.svg) no-repeat center;
  background-size: cover;
  -webkit-transition: background 350ms;
  transition: background 350ms;
}

.social-icon-instagram:hover {
  background: url(/src/assets/shared/desktop/insta-color.svg) no-repeat center;
  background-size: cover;
  -webkit-transition: background 350ms;
  transition: background 350ms;
}

.footer-links-wrapper {
  margin: 0 auto auto auto;
}

@media (min-width: 768px) {
  .main-footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
    height: 17.75rem;
  }
  .main-footer .footer-logo {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / span 1;
    margin: 0;
  }
  .main-footer .arrow {
    text-align: right;
    margin: 0 4.188rem 0 0;
    padding: 0;
    -ms-grid-column: 4;
    -ms-grid-column-span: 2;
    grid-column: 4 / span 2;
  }
  .main-footer p {
    text-align: right;
    margin: 0;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / span 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 3;
    grid-column: 3 / span 3;
  }
  .social-links-wrapper {
    margin: 0;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / span 1;
  }
  .social-icon {
    margin-left: 0;
  }
  .footer-links-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 0;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / span 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
  }
  .footer-links-wrapper li {
    margin-left: 0;
  }
}

@media (min-width: 992px) {
  .main-footer {
    padding: 2.5rem 9.688rem;
    height: 15.625rem;
  }
  .footer-links-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-left: 3.25rem;
    padding: 0.625rem 0;
    height: 100%;
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    grid-row: 1 / span 3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / span 1;
  }
}

@media only screen and (min-device-width: 993px) and (max-device-width: 1168px) {
  .footer-links-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 0;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / span 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
  }
  .footer-links-wrapper li {
    margin-left: 0;
  }
}

.card-hero {
  height: 48.125rem;
}

.card-hero a, .card-hero .card-hero-desc-wrapper p:first-child, .card-hero-desc-wrapper .card-hero p:first-child {
  color: #fff;
}

.card-hero a::after, .card-hero .card-hero-desc-wrapper p:first-child::after, .card-hero-desc-wrapper .card-hero p:first-child::after {
  background: url(/src/assets/shared/desktop/arrow-white.svg);
}

.card-hero a::before, .card-hero .card-hero-desc-wrapper p:first-child::before, .card-hero-desc-wrapper .card-hero p:first-child::before {
  background: #fff;
}

.card-hero-image {
  height: 20rem;
  background: url(/src/assets/stories/mobile/moon-of-appalacia.jpg) no-repeat center;
  background-size: cover;
}

.card-hero-desc-wrapper {
  height: 28.125rem;
  background-color: #000;
  color: #fff;
}

.card-hero-desc-wrapper p:first-child {
  display: none;
  opacity: 1;
  margin: 0 0 1.125rem 0;
}

.card-hero-desc-wrapper .date {
  font-size: 0.813rem;
  margin: 0.938rem 0 0.313rem 0;
}

@media (min-width: 768px) {
  .card-hero {
    display: block;
    height: 40.625rem;
    position: relative;
  }
  .card-hero-image {
    background: url(/src/assets/stories/tablet/moon-of-appalacia.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100%;
  }
  .card-hero-desc-wrapper {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    width: 70%;
    background: transparent;
  }
  .card-hero-desc-wrapper p:first-child {
    display: block;
  }
}

@media (min-width: 992px) {
  .card-hero-image {
    background: url(/src/assets/stories/desktop/moon-of-appalacia.jpg) no-repeat center;
    background-size: cover;
  }
  .card-hero-desc-wrapper {
    width: 50%;
  }
}

@media only screen and (min-device-width: 993px) and (max-device-width: 1168px) {
  .card-hero-desc-wrapper {
    width: 70%;
  }
}

.feature-hero-image {
  background: url(/src/assets/features/mobile/hero.jpg) no-repeat center;
  background-size: cover;
}

@media (min-width: 768px) {
  .features .hero, .pricing .hero {
    height: 30rem;
  }
  .features .hero-desc-wrapper-1::after, .pricing .hero-desc-wrapper-1::after {
    height: 10rem;
  }
  .feature-hero-image {
    background: url(/src/assets/features/tablet/hero.jpg) no-repeat left;
    background-size: cover;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media (min-width: 992px) {
  .feature-hero-image {
    background: url(/src/assets/features/desktop/hero.jpg) no-repeat left;
    background-size: cover;
  }
}

.beta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  color: #fff;
  height: 18rem;
  background: url(/src/assets/shared/mobile/bg-beta.jpg) no-repeat center;
  background-size: cover;
}

.beta h2 {
  max-width: 27.5rem;
}

.beta a, .beta .card-hero-desc-wrapper p:first-child, .card-hero-desc-wrapper .beta p:first-child {
  font-weight: 800;
  margin-top: 0.938rem;
  color: #fff;
}

.beta a::after, .beta .card-hero-desc-wrapper p:first-child::after, .card-hero-desc-wrapper .beta p:first-child::after {
  background: url(/src/assets/shared/desktop/arrow-white.svg);
}

.beta a::before, .beta .card-hero-desc-wrapper p:first-child::before, .card-hero-desc-wrapper .beta p:first-child::before {
  background: #fff;
}

.beta::after {
  content: "";
  position: absolute;
  width: 8.125rem;
  height: 0.375rem;
  background: linear-gradient(26.57deg, #ffc593 0.42%, #bc7198 43.46%, #5a77ff 83.33%);
  top: 0;
}

@media (min-width: 768px) {
  .beta {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: url(/src/assets/shared/tablet/bg-beta.jpg) no-repeat center;
    background-size: cover;
  }
  .beta a, .beta .card-hero-desc-wrapper p:first-child, .card-hero-desc-wrapper .beta p:first-child {
    margin-top: 0;
    margin-right: 5rem;
  }
  .beta::after {
    left: 0;
    width: 0.375rem;
    height: 100%;
  }
}

@media (min-width: 992px) {
  .beta {
    background: url(/src/assets/shared/desktop/bg-beta.jpg) no-repeat center;
    background-size: cover;
  }
  .beta h2 {
    max-width: 100%;
  }
}

.pricing .on .yearly {
  font-weight: 800;
}

.pricing .on .price-toggler {
  background: #000;
  -webkit-transition: all 350ms;
  transition: all 350ms;
}

.pricing .on .circle {
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
  background: #fff;
  -webkit-transition: all 350ms;
  transition: all 350ms;
}

.pricing .off .monthly {
  font-weight: 800;
}

.pricing .off .price-toggler {
  background: #dfdfdf;
  -webkit-transition: all 350ms;
  transition: all 350ms;
}

.pricing .off .circle {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition: all 350ms;
  transition: all 350ms;
}

.pricing-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.pricing-container .pricing-card-wrapper {
  width: 100%;
}

.pricing-hero-image {
  background: url(/src/assets/pricing/mobile/hero.jpg) no-repeat center;
  background-size: cover;
}

.price-toggler-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 22.5rem;
}

.price-toggler-wrapper h2 {
  font-weight: 400;
  font-size: 1.125rem;
  letter-spacing: 0;
}

.price-toggler {
  cursor: pointer;
  background-color: #dfdfdf;
  border-radius: 6.25rem;
  width: 5.75rem;
  height: 2.625rem;
}

.price-toggler .circle {
  background-color: #000;
  border-radius: 100%;
  height: 2.625rem;
  width: 2.625rem;
}

.pricing-card-wrapper {
  display: -ms-grid;
  display: grid;
  margin-top: 2rem;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-row-gap: 1.25rem;
}

@media (min-width: 768px) {
  .pricing-hero-image {
    background: url(/src/assets/pricing/tablet/hero.jpg) no-repeat center;
    background-size: cover;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media (min-width: 992px) {
  .pricing-hero-image {
    background: url(/src/assets/pricing/desktop/hero.jpg) no-repeat center;
    background-size: cover;
  }
  .pricing-card-wrapper {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1.25rem;
    margin-top: 3.438rem;
  }
  .pricing-card-wrapper div {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (min-device-width: 993px) and (max-device-width: 1168px) {
  .pricing-card-wrapper {
    display: -ms-grid;
    display: grid;
    margin-top: 32px;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.pricing-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
  height: 25.125rem;
  padding: 0 0.938rem;
  text-align: center;
  background-color: #dfdfdf;
}

.pricing-card h2 {
  font-size: 2.5rem;
  margin: 0 0 0.625rem 0;
}

.pricing-card h3 {
  font-size: 1.5rem;
}

.pricing-card p {
  margin: 1.25rem 0;
  opacity: 0.6;
}

.pricing-card .frequency {
  margin-bottom: 1.25rem;
}

.pricing-card .pick-plan-button {
  font-weight: 800;
  min-width: 12.5rem;
  max-width: 16.875rem;
}

.Pro {
  position: relative;
  background-color: #000;
  color: #fff;
}

.Pro::after {
  content: "";
  position: absolute;
  top: 0;
  height: 0.375rem;
  width: 100%;
  background: linear-gradient(26.57deg, #ffc593 0.42%, #bc7198 43.46%, #5a77ff 83.33%);
}

.Pro .pick-plan-button {
  color: #000;
  background-color: #fff;
}

.Pro .pick-plan-button-Pro:hover {
  background-color: rgba(223, 223, 223, 0.9);
}

@media (min-width: 768px) {
  .pricing-card {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
    height: 16.875rem;
    text-align: left;
    padding: 0 2.5rem;
  }
  .pricing-card h2 {
    -ms-grid-column: 4;
    grid-column: 4;
    -ms-grid-row: 1;
    grid-row: 1;
    margin: 0;
    text-align: right;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .pricing-card p {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
    -ms-grid-row: 2;
    grid-row: 2;
    margin: 0;
  }
  .pricing-card .frequency {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 4;
    grid-column: 4;
    margin: 0;
    text-align: right;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .pricing-card .pick-plan-button {
    -ms-grid-row: 3;
    grid-row: 3;
  }
  .pricing-card::after {
    height: 100%;
    width: 0.375rem;
  }
}

@media (min-width: 992px) {
  .pricing-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 25.438rem;
    max-width: 21.875rem;
    text-align: center;
  }
  .pricing-card h2 {
    margin: 0 0 0.625rem 0;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .pricing-card p {
    margin: 1.25rem 0;
  }
  .pricing-card .frequency {
    margin-bottom: 1.25rem;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .pricing-card::after {
    width: 100%;
    height: 0.375rem;
  }
  .Pro {
    height: 29.375rem;
  }
}

@media only screen and (min-device-width: 993px) and (max-device-width: 1168px) {
  .pricing-card {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
    height: 270px;
    text-align: left;
    padding: 0 40px;
    max-width: 100%;
  }
  .pricing-card h2 {
    -ms-grid-column: 4;
    grid-column: 4;
    -ms-grid-row: 1;
    grid-row: 1;
    margin: 0;
    text-align: right;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .pricing-card p {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
    -ms-grid-row: 2;
    grid-row: 2;
    margin: 0;
  }
  .pricing-card .frequency {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 4;
    grid-column: 4;
    margin: 0;
    text-align: right;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .pricing-card .pick-plan-button {
    -ms-grid-row: 3;
    grid-row: 3;
  }
  .pricing-card::after {
    height: 100%;
    width: 6px;
  }
}
/*# sourceMappingURL=App.css.map */