header {
  position: fixed;
  height: 4.5rem;
  top: 0;
  width: 100%;
  box-shadow: 0px 0.125rem 0.875rem -0.813rem $black;
  z-index: 99;
}

.navbar {
  position: relative;
  @include flex($flow: row, $justify: space-between, $align: center);
  height: 100%;
  background-color: $white;
  .invite-button {
    display: none;
  }
}

.menu-button {
  position: relative;
  cursor: pointer;
  width: 1.75rem;
  height: 1.5rem;
  .line-top,
  .line-bottom {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: $black;
  }

  .line-top {
    top: 27%;
  }

  .line-bottom {
    bottom: 27%;
  }
}

.nav-links-wrapper {
  display: none;
}

.nav-links-mobile-wrapper {
  position: absolute;
  left: 0;
  transform: translateY(-220px);
  height: 13.75rem;
  width: 100%;
  z-index: -1;
  background-color: $white;
  @include flex($justify: flex-start, $align: center);
}

.line {
  height: 1px;
  width: 100%;
  background-color: $gray;
}

li {
  text-transform: uppercase;
  margin: 0.688rem 0;
  list-style: none;
  a {
    position: relative;
    color: inherit;
    text-decoration: none;
    font-size: 0.938rem;
    &::after {
      @include underline($color: $primary-color);
    }
  }
  &:hover a::after {
    @include underlineHover();
  }
}

.invite-button {
  @include flex($align: center);
  cursor: pointer;
  width: 100%;
  height: 2.5rem;
  color: $white;
  border-radius: 0.188rem;
  background-color: $black;
  transition: background-color $speed;
  &:hover a::after {
    @include underlineHover($width: 0px);
  }
  &:hover {
    background-color: rgba($color: $black, $alpha: 0.7);
    transition: background-color $speed;
  }
}

.close {
  .line-top {
    transform-origin: top left;
    transition: transform $speed;
  }

  .line-bottom {
    @extend .line-top;
    transform-origin: bottom left;
  }
}

.open {
  .line-top {
    transform: translateY(-0.313rem) rotateZ(45deg);
    transform-origin: top left;
    transition: transform $speed;
  }
  .line-bottom {
    @extend .line-top;
    transform: translateY(0.313rem) rotateZ(-45deg);
    transform-origin: bottom left;
  }
}

.translate-down {
  transform: translateY(-1px);
  transition: transform $speed;
}
.translate-up {
  transition: transform $speed;
}

@media (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .invite-button {
      @include flex($flow: row, $align: center);
      width: 9.875rem;
      min-width: 9.875rem;
    }
  }

  .nav-links-wrapper {
    @include flex($flow: row nowrap, $align: center);
  }

  li {
    margin: 0 0.688rem;
    a {
      font-size: 0.813rem;
    }
  }

  .menu-button,
  .nav-links-mobile-wrapper {
    display: none;
  }
}
